<html>
  <meta charset="utf-8">
  <form action=searches method=get>
    <input type=text name=q>
    <button type=submit>search</button>
  </form>
  <title>Search Result of <%= h(keyword) %></title>
  <h1>Search Result of <%= h(keyword) %></h1>
  <ul>
    <% results.each{|result| %>
      <li>
        <time datetime="<%= result[:date] %>"><%= result[:date] %></time>
        <a href=https://blog.jxck.io/<%= result[:url] %>#:~:text=<%= result[:keyword] %>><%= result[:title] %></a>
        <ul>
          <% result[:details].each{|detail| %>
            <li>
              <%= h(detail[:prefix]) %>
              <a href=https://blog.jxck.io/<%= result[:url] %>#:~:text=<%= detail[:fragment] %>>
                <%= h(detail[:keyword]) %>
              </a>
              <%= h(detail[:suffix]) %>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>
  </ul>
</html>
