<!DOCTYPE html>
<html lang=ja>
  <meta charset=utf-8>
  <!--
  貴様、見ているな！！
  このサイトの技術的なまとめはこちらをどうぞ。
  https://labs.jxck.io/blog

  by Jxck
  -->
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=alternate type=application/atom+xml title=blog.jxck.io href=/feeds/atom.xml />
  <link rel=author href=https://jxck.io/assets/humans.txt>
  <link rel=manifest href=/manifest.json>
  <script async src=https://jxck.io/assets/js/ga.js></script>
  <script async src=https://jxck.io/assets/js/sw.js></script>
  <script async src=https://jxck.io/assets/js/main.js></script>

  <title>blog.jxck.io</title>
  <link rel=prerender href=<%= entries.first.relative %>>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/body.css>

  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/header.css>
  <header>
    <nav>
      <ul>
        <li><a href=https://blog.jxck.io><img class=logo alt="blog top" width=30 src=https://jxck.io/assets/img/blog.svg></a>
        <li><a href=/feeds/atom.xml><img alt="rss feed" width=30 src=https://jxck.io/assets/img/rss.svg></a>
        <li><a href=https://jxck.io/humans.txt><img alt="huamns.txt" width=30 src=https://jxck.io/assets/img/humans.svg></a>
        <li><a href=https://jxck.io><img class=logo alt="jxck logo" width=30 src=https://jxck.io/assets/img/jxck.svg></a>
      </ul>
    </nav>
  </header>

  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/markdown.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/main.css>
  <main class=archive>
    <h1><a href=/>Archive</a></h1>

    <h2 id=2018><a href=#2018>2018</a></h2>
    <ul><% entries.select {|e| e.created_at.start_with?("2018") }.each do |e| %>
      <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags>[<%= e.tags.reverse.map{|tag| "<a href='/tags/#{tag.gsub(' ', '%20')}.html'>#{tag}</a>" }.join(",") %>]</span><% end %>
    </ul>

    <h2 id=2017><a href=#2017>2017</a></h2>
    <ul><% entries.select {|e| e.created_at.start_with?("2017") }.each do |e| %>
      <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags>[<%= e.tags.reverse.map{|tag| "<a href='/tags/#{tag.gsub(' ', '%20')}.html'>#{tag}</a>" }.join(",") %>]</span><% end %>
    </ul>

    <h2 id=2016><a href=#2016>2016</a></h2>
    <ul><% entries.select {|e| e.created_at.start_with?("2016") }.each do |e| %>
      <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags>[<%= e.tags.reverse.map{|tag| "<a href='/tags/#{tag.gsub(' ', '%20')}.html'>#{tag}</a>" }.join(",") %>]</span><% end %>
    </ul>
  </main>

  <hr>

  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/footer.css>
  <footer>
    <p class=copyright><small>Copyright &copy; 2016 <a href=/>Jxck</a>. All Rights Reserved.</small><small>Using <a href=https://www.google.com/intl/ja/policies/privacy/partners/>Google Analytics</a> and <a href=https://w3c.github.io/ServiceWorker/>Service Worker</a>.</small></p>
  </footer>
</html>
