<!DOCTYPE html>
<meta charset=utf-8>
<!--
貴様、見ているな！！
このサイトの技術的なまとめはこちらをどうぞ。
https://labs.jxck.io/blog

by Jxck
-->
<link rel=canonical href=<%= entry.canonical %>>
<link rel=amphtml href=<%= entry.ampurl %>>
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=alternate type=application/atom+xml title=blog.jxck.io href=/feeds/atom.xml>
<link rel=author href=//jxck.io/assets/humans.txt>
<link rel=preload as=font type=font/woff href="//jxck.io/assets/font/NotoSansCJKjp-Jxck-Regular.woff?ver=201603014" crossorigin>
<script async src=//jxck.io/assets/js/ga.js></script>
<script async src=/assets/js/highlight.min.js></script>
<script async src=/assets/js/stale-while-revalidate.js></script>
<script async src=/assets/js/main.js></script>

<%= meta %>

<title><%= entry.title %> | <%= entry.host %></title>

<link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>

<link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
<header>
  <ul>
    <li><a href=//blog.jxck.io><img class=logo alt="blog top" width=30 src=/assets/img/blog.svg></a>
    <li><a href="<%= entry.amprelative %>#development=1"><img alt="move to amp version" width=30 src=/assets/img/amp.svg></a>
    <li><a href=.><img alt="move to parent directory" width=30 src=/assets/img/up.svg></a>
    <li><a href=/feeds/atom.xml><img alt="rss feed" width=30 src=/assets/img/rss.svg></a>
    <li><a href=//jxck.io/humans.txt><img alt="huamns.txt" width=30 src=/assets/img/humans.svg></a>
    <li><a href=//jxck.io><img class=logo alt="jxck logo" width=30 src=/assets/img/jxck.svg></a>
  </ul>
</header>

<link rel=stylesheet property=stylesheet type=text/css href=/assets/css/markdown.css>
<link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
<main>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/info.css>
  <ul class=info>
    <li>created_at: <time class=created_at datetime=<%= entry.created_at %>><%= entry.created_at %></time>
    <li>updated_at: <time class=updated_at datetime=<%= entry.updated_at %>><%= entry.updated_at %></time>
    <li class=tags>tags: [<%= entry.tags.map{|tag| "<a>#{tag}</a>"}.join(",") %>]
  </ul>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/article.css><%= entry.article %>
</main>
<hr>

<link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
<footer>
  <address class=copyright>Copyright &copy; 2016 <a href=/>Jxck</a>. All Rights Reserved.</address>
</footer>
