<!DOCTYPE html>
<html lang=ja itemscope itemtype=http://schema.org/BlogPosting>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset=utf-8>
  <!--
  貴様、見ているな！！
  このサイトの技術的なまとめはこちらをどうぞ。
  https://labs.jxck.io/blog

  by Jxck
  -->
  <link rel=canonical href="<%= entry.canonical %>">
  <link rel=amphtml href="<%= entry.ampurl %>">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=alternate type=application/atom+xml title=blog.jxck.io href=/feeds/atom.xml>
  <link rel=author href=https://jxck.io/assets/humans.txt>
  <link rel=manifest href=/manifest.json>
  <link rel=preload as=font type=font/woff href=https://jxck.io/assets/font/NotoSansCJKjp-Jxck-Regular-201802.woff2 crossorigin>
  <script async src=https://jxck.io/assets/js/ga.js></script>
  <script async src=https://jxck.io/assets/js/highlight.min.js></script>
  <script async src=https://jxck.io/assets/js/sw.js></script>
  <script async src=https://jxck.io/assets/js/main.js></script>

  <%= meta %>

  <title><%= entry.title %> | <%= entry.host %></title>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/body.css>
</head>
<body>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/header.css>
  <header>
    <nav>
      <ul>
        <li><a href=https://blog.jxck.io><img class=logo alt=blog title="blog top" width=30 src=https://jxck.io/assets/img/blog.svg></a>
        <li><a href="<%= entry.amprelative %>#development=1"><svg width=30 height=30><use xlink:href="/assets/img/amp.svg#main"/></svg></a>
        <li><a href=.><img alt=up title="move to parent directory" width=30 src=https://jxck.io/assets/img/up.svg></a>
        <li><a href=/feeds/atom.xml><img alt=rss title="rss feed" width=30 src=https://jxck.io/assets/img/rss.svg></a>
        <li><a href=https://jxck.io/humans.txt><img alt=humans title=huamns.txt width=30 src=https://jxck.io/assets/img/humans.svg></a>
        <li><a href=https://jxck.io><img class=logo alt=jxck title="jxck logo" width=30 src=https://jxck.io/assets/img/jxck.png></a>
      </ul>
    </nav>
  </header>

  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/markdown.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/main.css>
  <main>
    <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/info.css>
    <ul class=info>
      <li>created_at: <time class=created_at datetime=<%= entry.created_at %>><%= entry.created_at %></time>
      <li>updated_at: <time class=updated_at datetime=<%= entry.updated_at %>><%= entry.updated_at %></time>
      <li class=tags>tags: [<%= entry.tags.map{|tag| "<a href='/tags/#{tag.gsub(' ', '%20')}.html'>#{tag}</a>" }.join(",") %>]
    </ul>

    <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/article.css><%= entry.article %>
  </main>
  <hr>

  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/footer.css>
  <footer>
    <p class=copyright><small>Copyright &copy; 2016 <a href=/>Jxck</a>. All Rights Reserved.</small><small>Using <a href=https://www.google.com/intl/ja/policies/privacy/partners/>Google Analytics</a> and <a href=https://w3c.github.io/ServiceWorker/>Service Worker</a>.</small></p>
  </footer>
</body>
</html>
