<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <!--
  貴様、見ているな！！
  このサイトの技術的なまとめはこちらをどうぞ。
  https://labs.jxck.io/blog

  by Jxck
  -->
  <link rel=canonical href=<%= episode.canonical %>>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=alternate type=application/rss+xml title=mozaic.fm href=http://feed.mozaic.fm>
  <link rel=author href=https://jxck.io/assets/humans.txt>
  <script async src=https://jxck.io/assets/js/ga.mozaic.js></script>
  <script async src=https://jxck.io/assets/js/highlight.min.js></script>
  <script type=module src=https://jxck.io/assets/js/mozaic.js></script>

  <%= meta %>

  <title><%= episode.title %> | <%= episode.host %></title>
  <% if episode.prev %><link rel=prev href=<%= episode.prev.canonical %>><% end %>
  <% if episode.next %><link rel=next href=<%= episode.next.canonical %>><% end %>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/body.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/header.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/main.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/info.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/article.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/footer.css>
  <link rel=stylesheet property=stylesheet type=text/css href=https://jxck.io/assets/css/mozaic.css>
</head>
<body>

<header>
  <nav>
    <ul>
      <li><a href=/><img class=logo alt=top width=50 src=https://jxck.io/assets/img/mozaic.svg></a>
      <li><a><img alt=share id=share width=50 src=https://jxck.io/assets/img/share.svg></a>
      <li><a href=http://feed.mozaic.fm><img alt="rss feed" width=50 src=https://jxck.io/assets/img/podcast.svg></a>
      <li><a href=https://itunes.apple.com/jp/podcast/mozaic.fm/id851914495><img alt=itunes width=50 src=https://jxck.io/assets/img/itunes.svg></a>
      <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkLm1vemFpYy5mbS8%3D"><img alt=itunes width=50 src=https://jxck.io/assets/img/google-podcast.svg></a>
      <li><a href="https://twitter.com/search?f=tweets&vertical=default&q=%23mozaicfm&src=typd"><img alt=huamns.txt width=50 src=https://jxck.io/assets/img/twitter.svg></a>
      <li><a href=https://jxck.io><img class=logo alt="jxck logo" width=50 src=https://jxck.io/assets/img/jxck.svg></a>
    </ul>
  </nav>
</header>

<main>
  <nav>
    <span>&lt;&lt;&nbsp;<% if episode.prev %><a href="<%= episode.prev.url %>"><%= episode.prev.title %></a><% end %></span>
    <span><% if episode.next %><a href="<%= episode.next.url %>"><%= episode.next.title %></a><% end %>&nbsp;&gt;&gt;</span>
  </nav>
<%= episode.article %>
  <nav>
    <span>&lt;&lt;&nbsp;<% if episode.prev %><a href="<%= episode.prev.url %>"><%= episode.prev.title %></a><% end %></span>
    <span><% if episode.next %><a href="<%= episode.next.url %>"><%= episode.next.title %></a><% end %>&nbsp;&gt;&gt;</span>
  </nav>
</main>

<footer>
  <p class=copyright><small>Copyright &copy; 2016 <a href=/>mozaic.fm</a>. All Rights Reserved. Redistribute, Transcript are not allowed.</small> Using <a href=https://www.google.com/intl/ja/policies/privacy/partners/>Google Analytics</a>.</p>
  <strong>全ての出演者の発言は個人のものであり、組織/団体を代表するものではありません。</strong>
</footer>
</body>
</html>
