<!DOCTYPE html>
<html lang=ja>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset=utf-8>
  <!--
  貴様、見ているな!!
  このサイトの技術的なまとめはこちらをどうぞ。
  https://labs.jxck.io/blog

  by Jxck
  -->
  <link rel=canonical href="<%= entry.canonical %>">
  <link rel=amphtml href="<%= entry.amp_url %>">
  <link rel=alternate type=application/atom+xml title=blog.jxck.io href=/feeds/atom.xml>
  <link rel=author href=https://jxck.io/assets/humans.txt>
  <link rel=manifest href=/manifest.json>
  <link rel=preload as=font type=font/woff2 href=/assets/font/NotoSansCJKjp-Regular-Jxck-20191017.woff2 crossorigin>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <script defer src=/assets/js/main.js></script>
  <script defer src=/assets/js/ga.js></script>
  <script defer src=/assets/js/highlight.pack.js></script>

  <%= indent(render("template/favicon.html.erb", entry)) %>

  <%= indent(render("template/meta.html.erb", entry)) %>

  <%= indent(render("template/ld-json.html.erb", entry)) %>

  <title><%= entry.title %> | <%= entry.host %></title>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>
</head>
<body>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
  <header>
    <nav>
      <ul>
        <li><a href=https://blog.jxck.io      ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/blog.svg   title=blog   alt="blog top" class=logo></a>
        <li><a href="<%= entry.amp_relative %>#development=1" aria-label="amp version">
                                               <img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/amp.svg    title=blog   alt="amp version"></a>
        <li><a href=.                         ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/up.svg     title=up     alt="move to parent directory"></a>
        <li><a href=/feeds/atom.xml           ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/rss.svg    title=rss    alt="rss feed"></a>
        <li><a href=https://jxck.io/humans.txt><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/humans.svg title=humans alt=huamns.txt></a>
        <li><a href=https://jxck.io           ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/jxck.svg   title=jxck   alt="jxck logo" class=logo></a>
      </ul>
    </nav>
  </header>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/markdown.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
  <main>
    <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/info.css>
    <dl class=info>
      <div><dt>created_at</dt><dd><time class=created_at datetime=<%= entry.created_at %>><%= entry.created_at %></time></dd></div>
      <div><dt>updated_at</dt><dd><time class=updated_at datetime=<%= entry.updated_at %>><%= entry.updated_at %></time></dd></div>
      <div><dt class=tags>tags</dt><dd><%= entry.joined_tag %></dd></div>
    </dl>

    <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/article.css>
    <%= entry.article %>
  </main>
  <hr>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
  <footer>
    <p class=copyright><small>Copyright &copy; 2016 <a href=/>Jxck</a>. All Rights Reserved.</small><small>Using <a href=https://www.google.com/intl/ja/policies/privacy/partners/>Google Analytics</a> and <a href=https://w3c.github.io/ServiceWorker/>Service Worker</a>.</small></p>
  </footer>
</body>
</html>
