<!DOCTYPE html>
<html lang=ja>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">

  <link rel=author    href=https://jxck.io/humans.txt>
  <link rel=manifest  href=/manifest.webmanifest>
  <link rel=alternate href=/feeds/atom.xml type=application/atom+xml title=blog.jxck.io>

  <link rel=canonical href="<%= entry.canonical %>">
  <link rel=amphtml   href="<%= entry.amp_url %>">
  <link rel=preload   type=font/woff2 as=font href=/assets/font/NotoSansCJKjp-Regular-Jxck-20200124.woff2 crossorigin>

  <script async src=https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js></script>
  <script defer src=/assets/js/main.js></script>
  <script defer src=/assets/js/ga.js></script>
  <script defer src=/assets/js/highlight.pack.js></script>

  <%= indent(render("template/favicon.html.erb", entry)) %>

  <%= indent(render("template/meta.html.erb", entry)) %>

  <%= indent(render("template/ld-json.html.erb", entry)) %>

  <title><%= entry.title %> | <%= entry.host %></title>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>
</head>
<body>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
  <header>
    <nav>
      <ul>
        <li><a href=https://blog.jxck.io      ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/blog.svg   title=blog   alt="blog top" class=logo></a>
        <li><a href="<%= entry.amp_url %>#development=1" aria-label="amp version">
                                               <img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/amp.svg    title=blog   alt="amp version"></a>
        <li><a href=.                         ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/up.svg     title=up     alt="move to parent directory"></a>
        <li><a href=/feeds/atom.xml           ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/rss.svg    title=rss    alt="rss feed"></a>
        <li><a href=https://jxck.io/humans.txt><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/humans.svg title=humans alt=huamns.txt></a>
        <li><a href=https://jxck.io           ><img width=30 height=30 intrinsicsize=30x30 loading=eager src=/assets/img/jxck.svg   title=jxck   alt="jxck logo" class=logo></a>
      </ul>
    </nav>
  </header>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/markdown.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
  <main>
    <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/info.css>
    <dl class=info>
      <div><dt>created_at</dt><dd><time class=created_at datetime=<%= entry.created_at %>><%= entry.created_at %></time></dd></div>
      <div><dt>updated_at</dt><dd><time class=updated_at datetime=<%= entry.updated_at %>><%= entry.updated_at %></time></dd></div>
      <div><dt class=tags>tags</dt><dd><%= entry.joined_tag %></dd></div>
    </dl>

    <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/article.css>
    <%= entry.article %>
  </main>
  <hr>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
  <footer>
    <p class=copyright><small>Copyright &copy; 2016 <a href=/>Jxck</a>. All Rights Reserved.</small> See <small><a href=/policies/site.html>Site Policy</a> and <a href=/policies/privacy.html>Privacy Policy</a>.</small></p>
    <ins class=adsbygoogle data-ad-layout=in-article data-ad-format=fluid data-ad-client=ca-pub-2902784829138215 data-ad-slot=9735419796></ins>
  </footer>
</body>
</html>
