<!DOCTYPE html>
<html lang=ja>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">

  <link rel=author    href=https://jxck.io/humans.txt>
  <link rel=manifest  href=/manifest.webmanifest>
  <link rel=alternate href=/feeds/atom.xml type=application/atom+xml title=blog.jxck.io>

  <link rel=canonical href=https://blog.jxck.io>
  <link rel=preload   type=font/woff2 as=font href=/assets/font/NotoSansCJKjp-Regular-Jxck-20200904.woff2 crossorigin>

  <script async src=https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js></script>
  <script defer src=/assets/js/main.js></script>
  <script defer src=/assets/js/ga.js></script>

  <%= indent(render_hash("template/favicon.html.erb", {icon: @icon})) %>

  <%= indent(render_hash("template/meta.html.erb", {
    description: "Web Technology Blog by Jxck",
    tags:        %w(web technology programming browser jxck),
    canonical:   "https://blog.jxck.io",
    title:       "Index",
    host:        "blog.jxck.io",
    icon:        @icon,
  })) %>

  <title>blog.jxck.io</title>
  <link rel=prerender href=<%= entries.first.relative %>>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
  <header>
    <nav>
      <ul>
        <li><a href=https://blog.jxck.io      ><img width=30 height=30 loading=eager src=/assets/img/blog.svg   title=blog   alt="blog logo" class=logo></a>
        <li><a href=/searches                 ><img width=30 height=30 loading=eager src=/assets/img/search.svg title=search alt=search></a>
        <li><a href=/feeds/atom.xml           ><img width=30 height=30 loading=eager src=/assets/img/rss.svg    title=rss    alt="rss feed"></a>
        <li><a href=https://jxck.io/humans.txt><img width=30 height=30 loading=eager src=/assets/img/humans.svg title=humans alt=huamns.txt></a>
        <li><a href=https://jxck.io           ><img width=30 height=30 loading=eager src=/assets/img/jxck.svg   title=jxck   alt="jxck logo" class=logo></a>
      </ul>
    </nav>
  </header>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/markdown.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/archive.css>
  <main class=archive>
    <h1><a href=/>Archive</a></h1>

    <section>
      <h2 id=2020><a href=#2020>2020</a></h2>
      <ul><% entries.select {|e| e.created_at.start_with?("2020") }.each do |e| %>
        <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags><%= e.joined_tag %></span><% end %>
      </ul>
    </section>

    <section>
      <h2 id=2019><a href=#2019>2019</a></h2>
      <ul><% entries.select {|e| e.created_at.start_with?("2019") }.each do |e| %>
        <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags><%= e.joined_tag %></span><% end %>
      </ul>
    </section>

    <section>
      <h2 id=2018><a href=#2018>2018</a></h2>
      <ul><% entries.select {|e| e.created_at.start_with?("2018") }.each do |e| %>
        <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags><%= e.joined_tag %></span><% end %>
      </ul>
    </section>

    <section>
      <h2 id=2017><a href=#2017>2017</a></h2>
      <ul><% entries.select {|e| e.created_at.start_with?("2017") }.each do |e| %>
        <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags><%= e.joined_tag %></span><% end %>
      </ul>
    </section>

    <section>
      <h2 id=2016><a href=#2016>2016</a></h2>
      <ul><% entries.select {|e| e.created_at.start_with?("2016") }.each do |e| %>
        <li><time datetime=<%= e.created_at %>><%= e.created_at %></time><a href=<%= e.relative %>><%= e.title %></a><span class=tags><%= e.joined_tag %></span><% end %>
      </ul>
    </section>
  </main>

  <hr>

  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
  <footer>
    <p class=copyright><small>Copyright &copy; 2016 <a href=/>Jxck</a>. All Rights Reserved.</small> See <small><a href=/policies/site.html>Site Policy</a> and <a href=/policies/privacy.html>Privacy Policy</a>.</small></p>
    <ins class=adsbygoogle data-ad-layout=in-article data-ad-format=fluid data-ad-client=ca-pub-2902784829138215 data-ad-slot=9735419796></ins>
  </footer>
</html>
