<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">

  <link rel=author    href=https://jxck.io/humans.txt>
  <link rel=manifest  href=/manifest.webmanifest>
  <link rel=alternate type=application/rss+xml href=http://feed.mozaic.fm title=mozaic.fm>

  <link rel=canonical href=https://mozaic.fm>
  <!--
  <link rel=preload type=font/woff2 as=font  crossorigin href=/assets/font/NotoSansCJKjp-Regular-Jxck-20200904.woff2>
  <link rel=preload type=text/html  as=fetch crossorigin href=/assets/template/mozaic-player.html>
  -->

  <script defer type=module no-integrity=<%= integrity("./mozaic.fm/assets/js/mozaic.js") -%> src=/assets/js/mozaic.js></script>
  <script defer type=module no-integrity=<%= integrity("./mozaic.fm/assets/js/sw.js") -%> src=/assets/js/sw.js></script>

  <%= indent(render_hash("template/favicon.html.erb", {icon: @icon})) %>

  <%= indent(render_hash("template/meta.html.erb", {
    description: "next generation web podcast by Jxck",
    tags:        %w(web technology programming browser it software jxck),
    canonical:   "https://mozaic.fm",
    title:       "Episodes",
    host:        "mozaic.fm",
    icon:        @icon,
  })) %>

  <title>mozaic.fm</title>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/info.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/article.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/mozaic.css>

  <template id=shortcut_diag>
    <style>
    dialog.shortcut {
      font-family: monospace;
      padding: 1em;
    }
    </style>
    <dialog class=shortcut>
      <dl>
        <dt>&crarr;</dt><dd>play/pause</dd>
        <dt>&larr;</dt><dd>back</dd>
        <dt>&rarr;</dt><dd>forward</dd>
        <dt>&#47;</dt><dd>shortcut</dd>
      </dl>
    </dialog>
  </template>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href=https://mozaic.fm                                                      ><img width=30 height=30 loading=eager src=/assets/img/mozaic.svg         title=mozaic.fm        alt="mozaic.fm logo" class=logo></a>
      <li><a href=https://itunes.apple.com/jp/podcast/mozaic.fm/id851914495              ><img width=30 height=30 loading=eager src=/assets/img/itunes.svg         title=itunes           alt=itunes           ></a>
      <li><a href=https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkLm1vemFpYy5mbS8%3D><img width=30 height=30 loading=eager src=/assets/img/google-podcast.svg title="google podcast" alt="google podcast" ></a>
      <li><a href=https://open.spotify.com/show/6dDtbcRlUVKssaNmkuFu5K                   ><img width=30 height=30 loading=eager src=/assets/img/spotify.svg        title=spotify          alt=spotify          ></a>
      <li><a href=http://feed.mozaic.fm                                                  ><img width=30 height=30 loading=eager src=/assets/img/podcast.svg        title="rss feed"       alt="rss feed"       ></a>
      <li id=install class=disabled><button><img width=30 height=30 loading=eager src=/assets/img/install.svg title=install alt=install></button>
      <li id=share   class=disabled><button><img width=30 height=30 loading=eager src=/assets/img/share.svg   title=share   alt=share  ></button>
      <li id=search><a href=/searches      ><img width=30 height=30 loading=eager src=/assets/img/search.svg  title=search  alt=search ></a>
    </ul>
  </nav>
</header>

<main>
  <p>&gt; next generation web podcast by <a href=https://jxck.io>@Jxck</a>
  <ol>
    <%- episodes.each do |episode| -%>
    <li>
      <h2><a href=<%= episode.url %>><%= episode.title %></a>
        <background-fetch
          class=disabled
          data-value=0
          data-size=<%=  episode.size %>
          data-mtime=<%= episode.mtime %>
          data-url=<%=   episode.audio %>
          data-page=<%=  episode.url %>
          data-title="<%= episode.title %>"
        ></background-fetch>
      </h2>
      <%- episode.theme_line.each do |line| -%>
      <%= line %>
      <%- end -%>
      <dl class=info>
        <div>
          <dt>published_at</dt>
          <dd><time datetime=<%= episode.datetime %>><%= episode.datetime %></time></dd>
        </div>
        <div>
          <dt>guest</dt>
          <%- episode.guest_links.each do |link| -%>
          <dd><%= link %>
          <%- end -%>
        </div>
      </dl>
    </li>
    <%- end -%>
  </ol>
</main>

<footer>
  <p class=copyright><small>Copyright &copy; 2016 <a href=/>mozaic.fm</a>. All Rights Reserved. Redistribute, Transcript are not allowed.</small> <strong>全ての出演者の発言は個人のものであり、組織/団体を代表するものではありません。</strong></p>
</footer>
</body>
</html>
