<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">

  <link rel=author    href=https://jxck.io/humans.txt>
  <link rel=manifest  href=/manifest.webmanifest>
  <link rel=alternate type=application/rss+xml href=http://feed.mozaic.fm title=mozaic.fm>

  <link rel=canonical href=https://mozaic.fm>

  <title>mozaic.fm</title>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/body.css") %>>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/header.css") %>>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/main.css") %>>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/info.css") %>>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/article.css") %>>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/footer.css") %>>
  <link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/mozaic.css") %>>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href=https://mozaic.fm                                                      ><img width=30 height=30 loading=eager src=<%= version("/assets/img/mozaic.svg") %>         title=mozaic.fm        alt="mozaic.fm logo" class=logo></a>
      <li><a href=https://itunes.apple.com/jp/podcast/mozaic.fm/id851914495              ><img width=30 height=30 loading=eager src=<%= version("/assets/img/itunes.svg") %>         title=itunes           alt=itunes           ></a>
      <li><a href=https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkLm1vemFpYy5mbS8%3D><img width=30 height=30 loading=eager src=<%= version("/assets/img/google-podcast.svg") %> title="google podcast" alt="google podcast" ></a>
      <li><a href=https://open.spotify.com/show/6dDtbcRlUVKssaNmkuFu5K                   ><img width=30 height=30 loading=eager src=<%= version("/assets/img/spotify.svg") %>        title=spotify          alt=spotify          ></a>
      <li><a href=http://feed.mozaic.fm                                                  ><img width=30 height=30 loading=eager src=<%= version("/assets/img/podcast.svg") %>        title="rss feed"       alt="rss feed"       ></a>
      <li id=install class=disabled><a><img width=30 height=30 loading=eager src=<%= version("/assets/img/install.svg") %>  title=install alt=install></a>
      <li id=share   class=disabled><a><img width=30 height=30 loading=eager src=<%= version("/assets/img/share.svg") %>    title=share   alt=share  ></a>
      <li id=search><a href=/searches ><img width=30 height=30 loading=eager src=<%= version("/assets/img/search.svg") %>   title=search  alt=search ></a>
    </ul>
  </nav>
</header>

<link rel=stylesheet property=stylesheet type=text/css href=<%= version("/assets/css/search.css") %>>
<main class=search>
  <h1>Search Result of <%= h(query[:q]) %></h1>
  <form action=searches method=get>
    <label for=keyword>Search</label>
    <input id=keyword type=text name=q minlength=1 maxlength=20 autofocus required placeholder="csp, cookie, 標準化 etc" value="<%= h(query[:q]) %>">
    <button>search</button>
    <% unless query[:valid] %>
    <p class=error><%= query[:message] %></p>
    <% end %>
  </form>
  <ul class=results>
    <% if results.empty? %>
    <li>no result</li>
    <% end %>
    <% results.each{|result| %>
      <li>
        <details open>
          <summary>
            <time datetime="<%= h(result[:date]) %>"><%= h(result[:date]) %></time>
            <a href=/<%= result[:url] %>><%= result[:title] %></a>
          </summary>
          <ul class=detail>
            <%- result[:details].each{|detail| %>
              <li>
                <%= h(detail[:prefix]) %>
                <a class=highlight href=/<%= result[:url] %>#:~:text=<%= detail[:fragment] %>><%= h(detail[:keyword]) %></a>
                <%= h(detail[:suffix]) %>
              </li>
            <%- } %>
          </ul>
        </details>
      </li>
    <% } %>
  </ul>
</main>

<footer>
  <p class=copyright><small>Copyright &copy; 2016 <a href=/>mozaic.fm</a>. All Rights Reserved. Redistribute, Transcript are not allowed.</small> <strong>全ての出演者の発言は個人のものであり、組織/団体を代表するものではありません。</strong></p>
</footer>
</body>
</html>
