<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">

  <link rel=author    href=https://jxck.io/humans.txt>
  <link rel=manifest  href=/manifest.webmanifest>
  <link rel=alternate type=application/rss+xml href=http://feed.mozaic.fm title=mozaic.fm>

  <link rel=canonical href=<%= episode.canonical %>>
  <link rel=preload type=font/woff2 as=font  crossorigin href=/assets/font/NotoSansCJKjp-Regular-Jxck-20200407.woff2>
  <link rel=preload type=text/html  as=fetch crossorigin href=/assets/template/mozaic-player.html>

  <script defer type=module no-integrity=<%= integrity("./mozaic.fm/assets/js/mozaic.js") -%> src=/assets/js/mozaic.js></script>
  <script defer type=module no-integrity=<%= integrity("./mozaic.fm/assets/js/sw.js") -%> src=/assets/js/sw.js></script>

  <%= indent(render("template/favicon.html.erb", episode)) %>

  <%= indent(render("template/meta.html.erb", episode)) %>

  <title><%= episode.title %> | <%= episode.host %></title>
  <%- if episode.prev -%>
  <link rel=prev href=<%= episode.prev.canonical %>>
  <%- end -%>
  <%- if episode.next -%>
  <link rel=next href=<%= episode.next.canonical %>>
  <%- end -%>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/body.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/header.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/main.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/info.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/article.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/footer.css>
  <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/mozaic.css>

  <template id=search_diag>
    <link rel=stylesheet property=stylesheet type=text/css href=/assets/css/dialog.css>
    <dialog class=search>
      <form method=get action=https://google.co.jp/search>
        <fieldset>
          <legend>search via google</legend>
          <label for=keywords>keyword:</label>
          <input type=search name=q id=keywords placeholder=keywords>
          <input type=hidden name=q value=site:mozaic.fm/episodes>
          <button type=submit>go</button>
        </fieldset>
      </form>
    </dialog>
  </template>

  <template id=shortcut_diag>
    <style>
    dialog.shortcut {
      font-family: monospace;
      padding: 1em;
    }
    </style>
    <dialog class=shortcut>
      <dl>
        <dt>&crarr;</dt><dd>play/pause</dd>
        <dt>&larr;</dt><dd>back</dd>
        <dt>&rarr;</dt><dd>forward</dd>
        <dt>&#47;</dt><dd>shortcut</dd>
      </dl>
    </dialog>
  </template>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href=/ ><img alt=top     width=30 height=30 loading=eager src=/assets/img/mozaic.svg class=logo></a>
      <li><a href=https://itunes.apple.com/jp/podcast/mozaic.fm/id851914495                  ><img alt=itunes           width=30 height=30 loading=eager src=/assets/img/itunes.svg></a>
      <li><a href=https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkLm1vemFpYy5mbS8%3D    ><img alt="google podcast" width=30 height=30 loading=eager src=/assets/img/google-podcast.svg></a>
      <li><a href=https://open.spotify.com/show/6dDtbcRlUVKssaNmkuFu5K                       ><img alt=spotify          width=30 height=30 loading=eager src=/assets/img/spotify.svg></a>
      <li><a href=http://feed.mozaic.fm                                                      ><img alt="rss feed"       width=30 height=30 loading=eager src=/assets/img/podcast.svg></a>
      <li id=install class=disabled><a><img alt=install width=30 height=30 loading=eager src=/assets/img/install.svg></a>
      <li id=share   class=disabled><a><img alt=share   width=30 height=30 loading=eager src=/assets/img/share.svg></a>
      <li id=search><a><img alt=search  width=30 height=30 loading=eager src=/assets/img/search.svg></a>
    </ul>
  </nav>
</header>

<main>
  <nav>
    <span>&lt;&lt;&nbsp;<% if episode.prev %><a href="<%= episode.prev.url %>"><%= episode.prev.title %></a><% end %></span>
    <span><% if episode.next %><a href="<%= episode.next.url %>"><%= episode.next.title %></a><% end %>&nbsp;&gt;&gt;</span>
  </nav>
<%= episode.article %>
  <portal id=preview></portal>
  <nav>
    <span>&lt;&lt;&nbsp;<% if episode.prev %><a href="<%= episode.prev.url %>"><%= episode.prev.title %></a><% end %></span>
    <span><% if episode.next %><a href="<%= episode.next.url %>"><%= episode.next.title %></a><% end %>&nbsp;&gt;&gt;</span>
  </nav>
</main>

<footer>
  <p class=copyright><small>Copyright &copy; 2016 <a href=/>mozaic.fm</a>. All Rights Reserved. Redistribute, Transcript are not allowed.</small> <strong>全ての出演者の発言は個人のものであり、組織/団体を代表するものではありません。</strong></p>
</footer>

<mozaic-player><audio slot=audio src=<%= episode.audio %> crossorigin=anonymous title='<%= episode.title %>' data-forward=+30 data-back=-10></audio></mozaic-player>

</body>
</html>
